{% extends "base.html" %}
{% load static %}
{% load i18n %}
{%block title%}
{{title}}
{%endblock%}

{% block content %}

	<!-- Cart -->
	


	<!-- breadcrumb -->
	<div class="container" style="margin-top: 50px;">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'index'  %}" class="stext-109 cl8 hov-cl1 trans-04">
				{% trans 'Home ' %}<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			<a href="" class="stext-109 cl8 hov-cl1 trans-04">
				{{ product_single.category }}
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>
			<span class="stext-109 cl4">
				{{ product_single.name }}
			</span>
		</div>
	</div>
		

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="{{product_single.image.url}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{product_single.image.url}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{product_single.image.url}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="{{product_single.image2.url}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{product_single.image2.url}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{product_single.image2.url}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								<div class="item-slick3" data-thumb="{{product_single.image3.url}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{product_single.image3.url}}" alt="IMG-PRODUCT">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{product_single.image3.url}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<h4 class="mtext-105 cl2 js-name-detail p-b-14">{{ product_single.name }}</h4>
					<span class="mtext-106 cl2 manat d-block mb-3">{{ product_single.price }} ₼</span>

					<button id="one-click-buy" class="btn btn-danger">{% trans 'Bir kliklə al' %}</button>

					<div id="one-click-form" class="one-click-form">
						<div class="form-title">
							<span>{% trans 'Bir kliklə sifariş et' %}</span>
						</div>
						<form method="POST" action="{% url 'one_click_order' product_single.id %}">
							{% csrf_token %}
							<div class="form-group">
								<input type="text" name="name" placeholder="Ad soyad" required class="form-input">
							</div>
							<div class="form-group">
								<input type="tel" name="phone" placeholder="Telefon nömrəsi" maxlength="30" minlength="10" required class="form-input">
							</div>
							<button type="submit" class="submit-btn">Göndər</button>
						</form>
					</div>
				</div>
			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link" data-toggle="tab" href="#information" role="tab">{% trans 'Additional information' %}</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->
						<div class="tab-pane fade show active" id="information" role="tabpanel">
							<div class="row">
								<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
									<ul class="p-lr-28 p-lr-15-sm">
										{% for attribute in product_single.attributes.all %}
										<li class="flex-w flex-t p-b-7">
											<span class="stext-102 cl3 size-205">
												{{ attribute.key }}:
											</span>

											<span class="stext-102 cl6 size-206">
												{{ attribute.value }}
											</span>
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>


	<!-- Related Products -->
	<section class="sec-relate-product bg0 p-t-45 p-b-105">
		<div class="container">
			<div class="p-b-45">
				<h3 class="ltext-106 cl5 txt-center">
					{% trans 'Lastest Products' %}
				</h3>
			</div>

			<!-- Slide2 -->
			
			<div class="wrap-slick2">
				<div class="slick2">
				{% for product in products|slice:":3" %}


					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="{{product.image.url}}" alt="IMG-PRODUCT">

							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="{% url 'product_single' product.slug %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										{{product.name}}
									</a>

									<span class="stext-105 cl3">
										{{product.price}}
									</span>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

				</div>
			</div>	
								
		</div>
	</section>
	
	<script>
		document.getElementById("one-click-buy").addEventListener("click", function() {
			var form = document.getElementById("one-click-form");
			if (form.style.display === "none" || form.style.display === "") {
				form.style.display = "block";
			} else {
				form.style.display = "none";
			}
		});
	</script>
	
		

	<!-- Footer -->
{% endblock %}