{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container " style="margin-top: 50px;">
    <!-- Nəticə tapılmadıqda xəbərdarlıq -->
    {% if products.count == 0 and blogs.count == 0 %}
    <div class="col-lg-12">
        <div class="alert alert-danger text-center" role="alert">
            <strong>{% trans 'No results found' %}</strong>
        </div>
    </div>
    {% endif %}

    <!-- Məhsullar bölməsi -->
    {% if products|length > 0 %}
    <h2 class="mb-4">{% trans 'Products' %}</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
			<!-- Block2 -->
			<div href="{% url 'product_single' product.slug %}"  class="block2">
				<div class="block2-pic hov-img0">
					<img src="{{product.image.url}}" alt="IMG-PRODUCT">
					{% comment %} <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
						Quick View
					</a> {% endcomment %}
				</div>
				<div class="block2-txt flex-w flex-t p-t-14">
					<div class="block2-txt-child1 flex-col-l ">
						<a href="{% url 'product_single' product.slug %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
							{{product.name}}
						</a>
						<span class="stext-105 cl3">
							{{product.price}}
						</span>
					</div>
					
				</div>
			</div>
		</div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Bloqlar bölməsi -->
    {% if blogs|length > 0 %}
    <h2 class="mt-5 mb-4">{% trans 'Blogs' %}</h2>
    <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'blog-detail' blog.slug %}" class="text-decoration-none">
                            {{ blog.title }}
                        </a>
                    </h5>
                    <p class="card-text">{{ blog.description|truncatechars:100 }}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'blog-detail' blog.slug %}" class="btn btn-secondary">{% trans 'Continue Reading' %}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}
