{% load  static %}
{% load i18n %}

    <!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						{{setting_data.name}}
					</div>

					<div class="right-top-bar flex-w h-full">
						
						{% comment %} {% if user.is_authenticated %}
					<li class="nav-item"><a style="color:white;" class="nav-link" href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
				{% else %}
					<li class="nav-item"><a style="color:white;" class="nav-link" href="{% url 'login' %}">{% trans 'Sign in' %}</a></li>
					<li class="nav-item"><a style="color:white;" class="nav-link" href="{% url 'register' %}">{% trans 'Sign up' %}</a></li>
				{% endif %} {% endcomment %}
		

									<div class="language-selector top-bar-item"> <!-- Added 'top-bar-item' class -->
										<form id="languageForm" action="{% url 'set_language' %}" method="post">
											{% csrf_token %}
											<input type="hidden" name="next" value="{{ request.path }}">
											<select name="language" onchange="this.form.submit()" class="form-control" style="background-color: #222; color: white;"> <!-- Added inline styling -->
												{% get_current_language as LANGUAGE_CODE %}
												{% get_available_languages as LANGUAGES %}
												{% get_language_info_list for LANGUAGES as languages %}
												{% for language in languages %}
													<option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
														{{ language.name_local }}
													</option>
												{% endfor %}
											</select>
										</form>
									</div>
						
						
						
					</div>
				</div>
			</div>

			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<div class="header-logo" >
						<a href="{% url 'index'  %}" class="barcode-text">Barcode</a> 
					</div>
					<style>
						.header-logo .barcode-text {
							display: inline-block;
							font-size: 20px;
							color: black;
							font-weight: bold;
							margin-right:50px;
							text-shadow: 1px 1px 0 white; /* White text outline */
							-webkit-text-stroke: 0.3px white; /* Add white border around text for Webkit browsers */
							text-stroke: 10px white; /* Add white border around text for non-Webkit browsers */
						}
					</style>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li class="active-menu">
								<a href="{%url 'index' %}">{% trans 'Home' %}</a>
							</li>

							<li>
								<a href="{% url 'product' %}">{% trans 'Shop' %}</a>
							</li>
							<li>
								<a href="{% url 'blog' %}">{% trans 'Blog' %}</a>
							</li>

							{% comment %} <li>
								<a href="{% url 'about' %}">{% trans 'About' %}</a>
							</li> {% endcomment %}

							<li>
								<a href="{% url 'contact' %}">{% trans 'Contact' %}</a>
							</li>
						</ul>
					</div>	
					<div class="wrap-icon-header flex-w flex-r-m">
						{% comment %} <a href= "{% url 'social:begin' 'google-oauth2' %}"><i class="fa-brands fa-google"></i></a> {% endcomment %}
						<span style="margin: 0 10px;"></span>
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						
					</div>
				</nav>
			</div>	
			
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			 <div class="logo-mobile">
				{% comment %} <a href="{% url 'index'  %}"><img src="{{setting_data.logo.url}}"></a> {% endcomment %}
				<a href="{% url 'index'  %}" class="barcode-text">Barcode</a> 
			</div>
			<style>
				.logo-mobile .barcode-text {
					display: inline-block;
					font-size: 20px;
					color: black;
					font-weight: bold;
					text-shadow: 1px 1px 0 white; /* White text outline */
					-webkit-text-stroke: 0.3px white; /* Add white border around text for Webkit browsers */
					text-stroke: 10px white; /* Add white border around text for non-Webkit browsers */
				}
			</style>
			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>
			</div>
			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		
		
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						{{ setting_data.name }}
					</div>
				</li>
		
				{% comment %} {% if user.is_authenticated %}
					<li class="nav-item"><a style="color:white;" class="nav-link" href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
				{% else %}
					<li class="nav-item"><a style="color:white;" class="nav-link" href="{% url 'login' %}">{% trans 'Sign in' %}</a></li>
					<li class="nav-item"><a style="color:white;" class="nav-link" href="{% url 'register' %}">{% trans 'Sign up' %}</a></li>
				{% endif %} {% endcomment %}
		
				<li>
					<div class="language-selector top-bar-item"> <!-- Added 'top-bar-item' class -->
						<form id="languageForm" action="{% url 'set_language' %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ request.path }}">
							<select name="language" onchange="this.form.submit()" class="form-control" style="background-color: #222; color: white;"> <!-- Added inline styling -->
								{% get_current_language as LANGUAGE_CODE %}
								{% get_available_languages as LANGUAGES %}
								{% get_language_info_list for LANGUAGES as languages %}
								{% for language in languages %}
									<option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
										{{ language.name_local }}
									</option>
								{% endfor %}
							</select>
						</form>
					</div>
				</li>
			</ul>
		
			<ul class="main-menu-m">
				<li class="active-menu">
					<a href="{%url 'index' %}">{% trans 'Home' %}</a>
				</li>

				<li>
					<a href="{% url 'product' %}">{% trans 'Shop' %}</a>
				</li>
				<li>
					<a href="{% url 'blog' %}">{% trans 'Blog' %}</a>
				</li>

				{% comment %} <li>
					<a href="{% url 'about' %}">{% trans 'About' %}</a>
				</li> {% endcomment %}

				<li>
					<a href="{% url 'contact' %}">{% trans 'Contact' %}</a>
				</li>
			</ul>
		</div>
		
		

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src= "{% static 'images/icons/icon-close2.png' %}" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15" action="{% url 'search' %}" method="post">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					{% csrf_token %}
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>